
/*상단메뉴, top*/
#top {
	display : block;
	font-size : 75%;
}

#top-line {
	border-bottom : 1px solid  #E1E1E1;
	margin : 25px 0 0 10px;
}

#howAbout-button, #search-button, #favorite-button, #history-button {
	color : white;
	border-radius : 10px;
	border : none;
}

#howAbout-button {
	background : chocolate;
}

#search-button {
	background : #3abe82;
	
}

#favorite-button {
	background : #FF748C;
}

#history-button {
	background : #67C5F4;
}

.top_explain {
	color : #8d8b8b;
	margin : 10px 0 0 0;
	font-size : 150%;
}

#recommendation, #bookmark, #my-activity {
	display : inline-block;
	margin : 0 0 0 0;
	padding : 0 10px 0 10px;
	border : 1px solid #E1E1E1;
	
}



/*search*/
#inner-checkbox {
	margin :  0 0 10px 0;
	border : 1px solid #E1E1E1;
	width : 700px;
	height : 200px;
	border-radius : 20px;
}

#search-explain {
	color : grey;
}

.type_property, .taste_property, .time_property, .location_property {
	
	display : inline-flex;
}

.type_name, .taste_name, .time_name, .location_name {
	display : inline-block;
}

.property {
	position : relative;
	top : 2px;
}

#checkbox-type p {
	margin : 0 5px 0 10px;
}
