
/*상단메뉴, top*/
#top {
	display : block;
	border-bottom : 1px solid  #E1E1E1;
	
}

.top_info {
	border-top : 1px solid #E1E1E1;
}

#recommendation, #bookmark, #my-activity {
	display : inline-block;
	margin : 0 0 0 0;
	padding : 0 10px 0 10px;
	border : 1px solid #E1E1E1;
	
}



/*preference*/
#inner-checkbox {
	margin :  0 0 10px 0;
	border : 1px solid #E1E1E1;
	width : 700px;
	height : 200px;
	border-radius : 20px;
}

#preference-explain {
	color : grey;
}

.type_property, .taste_property, .time_property, .location_property {
	
	display : inline-flex;
}

.type_name, .taste_name, .time_name, .location_name {
	display : inline-block;
}

.property {
	position : relative;
	top : 2px;
}

#checkbox-type p {
	margin : 0 5px 0 10px;
}
