<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Study</display-name>
  <welcome-file-list>
    <welcome-file>NewFront.jsp</welcome-file>
<!--     <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file> -->
  </welcome-file-list>
  
 <!-- User -->
  <servlet>
    <servlet-name>getUser</servlet-name>            
    <servlet-class>com.hungry.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUser</servlet-name>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postUser</servlet-name>            
    <servlet-class>com.hungry.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postUser</servlet-name>
    <url-pattern>/postUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteUser</servlet-name>            
    <servlet-class>com.bac.hungry.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  
  <!-- Posting -->
  <servlet>
    <servlet-name>getPosting</servlet-name>            
    <servlet-class>com.hungry.posting.PostingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPosting</servlet-name>
    <url-pattern>/getPosting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postPosting</servlet-name>            
    <servlet-class>com.hungry.posting.PostingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postPosting</servlet-name>
    <url-pattern>/postPosting</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>deletePosting</servlet-name>            
    <servlet-class>com.hungry.posting.PostingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePosting</servlet-name>
    <url-pattern>/deletePosting</url-pattern>
  </servlet-mapping> 
  
  <!-- Comment -->
  <servlet>
    <servlet-name>getComment</servlet-name>            
    <servlet-class>com.hungry.comment.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getComment</servlet-name>
    <url-pattern>/getComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postComment</servlet-name>            
    <servlet-class>com.hungry.comment.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postComment</servlet-name>
    <url-pattern>/postComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteComment</servlet-name>            
    <servlet-class>com.hungry.comment.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteComment</servlet-name>
    <url-pattern>/deleteComment</url-pattern>
  </servlet-mapping>   	
  
  
  <!-- favorite -->
  <servlet>
    <servlet-name>getFavorite</servlet-name>
    <servlet-class>com.hungry.favorite.FavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFavorite</servlet-name>
    <url-pattern>/getFavorite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postFavorite</servlet-name>
    <servlet-class>com.hungry.favorite.FavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postFavorite</servlet-name>
    <url-pattern>/postFavorite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteFavorite</servlet-name>
    <servlet-class>com.hungry.favorite.FavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFavorite</servlet-name>
    <url-pattern>/deleteFavorite</url-pattern>
  </servlet-mapping>
  
  <!-- img upload -->
  <servlet>
    <servlet-name>postImg</servlet-name>            
    <servlet-class>com.hungry.img.imgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postImg</servlet-name>
    <url-pattern>/postImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getImg</servlet-name>            
    <servlet-class>com.hungry.img.imgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getImg</servlet-name>
    <url-pattern>/getImg</url-pattern>
  </servlet-mapping>
  
  <!--  score -->
  <servlet>
  	<servlet-name>postScore</servlet-name>
  	<servlet-class>com.hungry.score.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>postScore</servlet-name>
  	<url-pattern>/postScore</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>getScore</servlet-name>
  	<servlet-class>com.hungry.score.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getScore</servlet-name>
  	<url-pattern>/getScore</url-pattern>
  </servlet-mapping>
  
  <!-- search -->
  <servlet>
  	<servlet-name>doSearch</servlet-name>
  	<servlet-class>com.hungry.search.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>doSearch</servlet-name>
  	<url-pattern>/doSearch</url-pattern>
  </servlet-mapping>
  
</web-app>